<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Covid-19 Tracker</title>
   
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
<div class="container">
    <select name="" id="" v-model="country" @change="getdata">
    <option value="">Select Country</option>
    <option v-for="country in countryList" :key="index" :value="country">{{country}}</option>
    </select>
    <div class="panel">
        <div class="Cases">
            <h2>cases</h2>
            <h3>{{cases}}</h3>
        </div>

        <div class="Death">
            <h2>Death</h2>
            <h3>{{death}}</h3>
        </div>

        <div class="Recovered">
            <h2>Recovered</h2>
            <h3>{{recovered}}</h3>
        </div>
        </div>
    </div>

</div>
 </div>
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script  type="module" src="app.js"></script>
</body>
</html>
